<a href="https://colab.research.google.com/github/D1dix/proyecto_IAs/blob/main/02-pandas-limpieza/TitanicPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# **Bloque 1: Exploración inicial**


**Ejercicio 1. Primera inspección**

Carga el dataset y responde: ¿Cuántas filas y columnas tiene? ¿Cuáles son los tipos de datos de cada columna? ¿Cuánta memoria ocupa el DataFrame?

**Ejercicio 2. Estadísticas descriptivas**

Genera un resumen estadístico de las variables numéricas. ¿Cuál es la edad media?
¿Y la tarifa media? ¿Hay algún valor que te llame la atención como posible anomalía?

**Ejercicio 3. Distribución de variables categóricas**

¿Cuántos pasajeros hay de cada sexo? ¿Cuántos en cada clase? ¿Desde qué puerto
embarcaron más pasajeros? Usa value_counts() para responder.

In [4]:
# Ejer 1:

print(f"El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas.")

df.describe()
df.info()

# Ejer 2:

df_int = df.select_dtypes(include=['int64'])

resumen_rangos = df_int.agg(['min', 'max'])
print("Análisis de rangos para columnas de tipo entero:")
print(resumen_rangos)

print(f"\nLa edad media es: {df['Age'].mean():.2f}")
print(f"La tarifa media es: {df['Fare'].mean():.2f}")
print(f"La edad máxima es: {df['Age'].max()}")
print(f"La tarifa máxima es: {df['Fare'].max()}")
print(f"La edad mínima es: {df['Age'].min()}")
print(f"La tarifa mínima es: {df['Fare'].min()}")

# Ejer 3:

num_dif_sexos = df.groupby('Sex').size()
print(f"Cantidad de los Sexos de la Columna: {num_dif_sexos}")

num_dif_clases = df.groupby('Pclass').size()
print(f"Cantidad de los Clase de la Columna: {num_dif_clases}")

print("\nPuerto de embarque más frecuente:")
print(df['Embarked'].value_counts())

El dataset tiene 891 filas y 12 columnas.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Análisis de rangos para columnas de tipo entero:
     PassengerId  Survived  Pclass  SibSp  Parch
min            1         0       1      0      0
max          891         1       3      8      6

La edad media es: 29.70
La tarifa media es: 32.20
La edad máxima es: 80.0
La tarifa máxima es: 512.3292
La edad mínima es: 0.42
La tarifa mínima es: 0.0
Cantidad de los Sexos de la Columna: Sex
female    314
male      577
dtype: int64
Cantidad de los Clase de la Columna: Pclass
1    216
2    184
3    491
dtype: int64

Puerto de embarque más frecuente:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

# **Bloque 2: Diagnóstico de calidad de datos**


**Ejercicio 4. Mapa de valores faltantes**

Crea un informe que muestre para cada columna: número de valores faltantes,
porcentaje del total, y tipo de dato. Ordena el resultado de mayor a menor porcentaje
de missing.

**Ejercicio 5. Análisis de la variable Cabin**

La columna Cabin tiene muchos valores faltantes. Para los registros que sí tienen
cabina, ¿puedes extraer la letra inicial (que indica la cubierta)? ¿Hay relación entre la
cubierta y la clase del pasajero?


**Ejercicio 6. Detección de duplicados **

¿Hay filas completamente duplicadas en el dataset? ¿Y duplicados parciales (mismo
nombre y ticket)? Si los hay, ¿cómo los gestionarías?

**Ejercicio 7. Consistencia de datos**


Verifica que los valores de Pclass estén en el rango esperado (1, 2, 3). ¿Hay algún
pasajero con edad negativa o tarifa negativa? ¿Hay valores atípicos en la tarifa (outliers
extremos)?

In [5]:
# Ejer 4:

reporte_nulos = pd.DataFrame({
    'Valores Faltantes': df.isnull().sum(),
    'Porcentaje (%)': (df.isnull().sum() / len(df)) * 100,
    'Tipo de Dato': df.dtypes
})

reporte_nulos = reporte_nulos.sort_values(by='Porcentaje (%)', ascending=False)

print("Informe de Calidad de Datos (Valores Faltantes):")
print(reporte_nulos)

# Ejer 5:
df['Deck'] = df['Cabin'].str[0]


print("\nDistribución de cubiertas por clase (Pclass):")
print(pd.crosstab(df['Deck'], df['Pclass']))

# Ejer 6:
duplicados_totales = df.duplicated().sum()
print(f"\nFilas completamente duplicadas: {duplicados_totales}")

duplicados_parciales = df.duplicated(subset=['Name', 'Ticket']).sum()
print(f"Duplicados parciales (Nombre + Ticket): {duplicados_parciales}")

# Ejer 7:
pclass_check = df['Pclass'].unique()
print(f"\nValores encontrados en Pclass: {pclass_check}")

edad_negativa = df[df['Age'] < 0].shape[0]
tarifa_negativa = df[df['Fare'] < 0].shape[0]

print(f"Pasajeros con edad negativa: {edad_negativa}")
print(f"Pasajeros con tarifa negativa: {tarifa_negativa}")

tarifas_extremas = df[df['Fare'] > 300]
print(f"Pasajeros con tarifas > 300 libras: {tarifas_extremas.shape[0]}")

Informe de Calidad de Datos (Valores Faltantes):
             Valores Faltantes  Porcentaje (%) Tipo de Dato
Cabin                      687       77.104377       object
Age                        177       19.865320      float64
Embarked                     2        0.224467       object
PassengerId                  0        0.000000        int64
Name                         0        0.000000       object
Pclass                       0        0.000000        int64
Survived                     0        0.000000        int64
Sex                          0        0.000000       object
Parch                        0        0.000000        int64
SibSp                        0        0.000000        int64
Fare                         0        0.000000      float64
Ticket                       0        0.000000       object

Distribución de cubiertas por clase (Pclass):
Pclass   1  2  3
Deck
A       15  0  0
B       47  0  0
C       59  0  0
D       29  4  0
E       25  4  3
F        0  8  5
G        0  0  4
T        1  0  0

Filas completamente duplicadas: 0
Duplicados parciales (Nombre + Ticket): 0

Valores encontrados en Pclass: [3 1 2]
Pasajeros con edad negativa: 0
Pasajeros con tarifa negativa: 0
Pasajeros con tarifas > 300 libras: 3

# **Bloque 3: Tratamiento de valores faltantes**

**Ejercicio 8. Imputación de Age**

Imputa los valores faltantes de Age con la mediana de edad según el título extraído del
nombre (Mr, Mrs, Miss, Master, etc.). Justifica por qué la mediana es mejor que la
media en este caso.

**Ejercicio 9. Decisión sobre Cabin**

Con un 77% de valores faltantes, ¿tiene sentido intentar imputar Cabin? Propón dos
alternativas: (a) crear una variable binaria HasCabin, (b) eliminar la columna.
Argumenta cuál elegirías y por qué.

**Ejercicio 10. Imputación de Embarked**

Solo hay 2 valores faltantes en Embarked. Investiga esos dos pasajeros: ¿comparten
alguna característica (clase, tarifa, cabina)? Imputa con el valor más probable
basándote en esta información.

In [6]:
# Ejer 8:

df['Title'] = df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False) #Me pilla los valores antes de un .

medianas_por_titulo = df.groupby('Title')['Age'].median()
print("Medianas de edad por título:")
print(medianas_por_titulo, df.groupby('Title')['Age'].count())

df['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))

if df['Age'].isnull().any():
    df['Age'] = df['Age'].fillna(df['Age'].median())

print(f"\nValores faltantes en Age tras la imputación: {df['Age'].isnull().sum()}")

#Usamos la mediana en lugar de la media porque la edad tiene valores extremos y no sigue una distribución perfectamente normal;
#la mediana es más robusta frente a valores atípicos

# Ejer 9:

porcentaje_faltantes = (df['Cabin'].isnull().sum() / len(df))
print(f"\nPorcentaje de valores faltantes en Cabin: {porcentaje_faltantes:.2%}")

missing_cabin = df['Cabin'].isna().sum()
porcentaje_missing = missing_cabin / len(df) * 100

print(f"Valores faltantes en Cabin: {missing_cabin}")
print(f"Porcentaje de missing en Cabin: {porcentaje_missing:.2f}%")

df['HasCabin'] = df['Cabin'].notna().astype(int)

print(df['HasCabin'].value_counts())

# La variable HasCabin permite diferenciar entre pasajeros con cabina asignada
# y pasajeros sin cabina registrada.
# Esto transforma una variable con muchos valores faltantes
# en una variable binaria informativa y usable para modelos.

#df_sin_cabin = df.drop(columns=['Cabin'])


# Ejer 10:

print("\nValores faltantes en Embarked:")
print(df['Embarked'].isna().sum())

moda_embarked = df['Embarked'].mode()[0]

df['Embarked'] = df['Embarked'].fillna(moda_embarked)

print(df['Embarked'].value_counts())

# Embarked es una variable categórica con muy pocos valores faltantes.
# La imputación con la moda es adecuada porque preserva la distribución o

Medianas de edad por título:
Title
Capt        70.0
Col         58.0
Countess    33.0
Don         40.0
Dr          46.5
Jonkheer    38.0
Lady        48.0
Major       48.5
Master       3.5
Miss        21.0
Mlle        24.0
Mme         24.0
Mr          30.0
Mrs         35.0
Ms          28.0
Rev         46.5
Sir         49.0
Name: Age, dtype: float64 Title
Capt          1
Col           2
Countess      1
Don           1
Dr            6
Jonkheer      1
Lady          1
Major         2
Master       36
Miss        146
Mlle          2
Mme           1
Mr          398
Mrs         108
Ms            1
Rev           6
Sir           1
Name: Age, dtype: int64

Valores faltantes en Age tras la imputación: 0

Porcentaje de valores faltantes en Cabin: 77.10%
Valores faltantes en Cabin: 687
Porcentaje de missing en Cabin: 77.10%
HasCabin
0    687
1    204
Name: count, dtype: int64

Valores faltantes en Embarked:
2
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

# **Bloque 4: Análisis exploratorio de supervivencia**


**Ejercicio 11. Supervivencia por sexo**

Calcula la tasa de supervivencia por sexo. ¿Confirma el principio "mujeres y niños
primero"? Expresa el resultado como porcentaje.

**Ejercicio 12. Supervivencia por clase**

Calcula la tasa de supervivencia por clase de billete. ¿Hay diferencias significativas?
¿Qué hipótesis podrías formular sobre la ubicación de los camarotes de cada clase?

**Ejercicio 13. Tabla cruzada sexo-clase**

Crea una tabla cruzada (crosstab) que muestre la tasa de supervivencia combinando
sexo y clase. ¿Quién tenía más probabilidades de sobrevivir: un hombre de primera
clase o una mujer de tercera?

**Ejercicio 14. Efecto de la edad**

Crea grupos de edad: niño (0-12), adolescente (13-17), adulto (18-59), mayor (60+).
Calcula la tasa de supervivencia por grupo. ¿Los niños tuvieron ventaja?

**Ejercicio 15. Efecto del tamaño familiar**

Crea una variable FamilySize = SibSp + Parch + 1. Agrupa en: solo (1), pequeña (2-4),
grande (5+). ¿Las personas que viajaban solas tenían más o menos probabilidades de
sobrevivir?

In [7]:
# Ejer 11:

supervivencia_sexo = df.groupby('Sex')['Survived'].mean() * 100

print(supervivencia_sexo)

# El porcentaje de supervivencia es significativamente mayor en mujeres que en hombres.
# Esto confirma la política de evacuación aplicada durante el desastre ("women first").
# La variable Sex es altamente informativa para predecir la supervivencia.

# Ejer 12:

supervivencia_clase = df.groupby('Pclass')['Survived'].mean() * 100

print(supervivencia_clase)

# Se observan diferencias significativas en la tasa de supervivencia entre clases.
# Los pasajeros de primera clase presentan la mayor tasa de supervivencia,
# mientras que la tercera clase tiene la más baja.
#
# Hipótesis:
# - Los camarotes de primera clase estaban ubicados en cubiertas superiores,
#   más cercanas a los botes salvavidas.
# - Los pasajeros de tercera clase tenían acceso más limitado y tardío a los botes.

# Ejer 13:

tabla_sexo_clase = pd.crosstab(
    df['Sex'],
    df['Pclass'],
    values=df['Survived'],
    aggfunc='mean'
) * 100

print(tabla_sexo_clase)

# La tabla muestra que las mujeres tienen mayor tasa de supervivencia en todas las clases.
# Comparando un hombre de primera clase con una mujer de tercera clase,
# la mujer de tercera clase tiene mayor probabilidad de supervivencia.
#
# Esto indica que el sexo fue un factor más determinante que la clase.

# Ejer 14:

bins = [0, 12, 17, 59, 120]
labels = ['Niño', 'Adolescente', 'Adulto', 'Mayor']

df['GrupoEdad'] = pd.cut(df['Age'], bins=bins, labels=labels)

#supervivencia_edad = df.groupby('GrupoEdad')['Survived'].mean() * 100

#print(supervivencia_edad)

# Los niños presentan una tasa de supervivencia mayor que los adultos.
# Esto indica que tuvieron ventaja durante la evacuación.
# La tasa disminuye en adultos y es especialmente baja en personas mayores.
#
# Esto concuerda con la prioridad de rescate a niños.


# Ejer 15:

df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

def clasificar_familia(size):
    if size == 1:
        return 'Solo'
    elif 2 <= size <= 4:
        return 'Pequeña'
    else:
        return 'Grande'

df['TipoFamilia'] = df['FamilySize'].apply(clasificar_familia)


supervivencia_familia = df.groupby('TipoFamilia')['Survived'].mean() * 100

print(supervivencia_familia)

# Las personas que viajaban solas presentan menor tasa de supervivencia
# que aquellas que viajaban en familias pequeñas.
# Las familias grandes también muestran menor supervivencia,
# posiblemente por la dificultad de moverse juntas durante la evacuación.

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
Pclass          1          2          3
Sex
female  96.808511  92.105263  50.000000
male    36.885246  15.740741  13.544669
TipoFamilia
Grande     16.129032
Pequeña    57.876712
Solo       30.353818
Name: Survived, dtype: float64

# **Bloque 5: Ejercicio integrador**

Ejercicio 16. Pipeline de limpieza completo

Crea una función llamada limpiar_titanic(df) que reciba el DataFrame original y
devuelva un DataFrame limpio aplicando todas las transformaciones que has
desarrollado:

*   Extraer título del nombre
*   Imputar Age con la mediana por título
*   Crear variable HasCabin a partir de Cabin
*   Imputar Embarked con el valor más frecuente
*   Crear variable FamilySize
*   Eliminar columnas que no se usarán: PassengerId, Name, Ticket, Cabin

La función debe ser reutilizable para aplicar las mismas transformaciones al conjunto
de test en un futuro modelo predictivo.

In [18]:
def clasificar_familia(size):
    if size == 1:
        return 'Solo'
    elif 2 <= size <= 4:
        return 'Pequeña'
    else:
        return 'Grande'

def limpiar_titanic(df_input):
    df = df_input.copy()

    # Extraer título del nombre
    if 'Name' in df.columns:
        df['Title'] = df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)

    # Imputar Age con la mediana por título
    if 'Age' in df.columns and 'Title' in df.columns:
        df['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))
        df['Age'] = df['Age'].fillna(df['Age'].median())

        bins = [0, 12, 17, 59, 120]
        labels = ['Niño', 'Adolescente', 'Adulto', 'Mayor']
        df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)

    # Crear variable HasCabin a partir de Cabin
    if 'Cabin' in df.columns:
        df['HasCabin'] = df['Cabin'].notna().astype(int)

    # Imputar Embarked con el valor más frecuente
    if 'Embarked' in df.columns:
        df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

    # Crear variable FamilySize
    if 'SibSp' in df.columns and 'Parch' in df.columns:
        df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
        df['TipoFamilia'] = df['FamilySize'].apply(clasificar_familia)

    # Eliminar columnas que no se usarán: PassengerId, Name, Ticket, Cabin
    cols_eliminar = ['PassengerId', 'Name', 'Ticket', 'Cabin']
    existentes = [c for c in cols_eliminar if c in df.columns]
    df = df.drop(columns=existentes)

    return df

resul = limpiar_titanic(df)

In [19]:
resul

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,HasCabin,GrupoEdad,FamilySize,TipoFamilia,AgeGroup
0,0,3,male,22.0,1,0,7.2500,S,NaN,Mr,0,Adulto,2,Pequeña,Adulto
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,1,Adulto,2,Pequeña,Adulto
2,1,3,female,26.0,0,0,7.9250,S,NaN,Miss,0,Adulto,1,Solo,Adulto
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,1,Adulto,2,Pequeña,Adulto
4,0,3,male,35.0,0,0,8.0500,S,NaN,Mr,0,Adulto,1,Solo,Adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,Rev,0,Adulto,1,Solo,Adulto
887,1,1,female,19.0,0,0,30.0000,S,B,Miss,1,Adulto,1,Solo,Adulto
888,0,3,female,21.0,1,2,23.4500,S,NaN,Miss,0,Adulto,4,Pequeña,Adulto
889,1,1,male,26.0,0,0,30.0000,C,C,Mr,1,Adulto,1,Solo,Adulto
890,0,3,male,32.0,0,0,7.7500,Q,NaN,Mr,0,Adulto,1,Solo,Adulto